# =============================================================
#  HAProxy — haproxy.cfg
#  Proyecto Integrado ASIR — César Acevedo Gomez
#  IES Fuengirola 1 — 2025/2026
# =============================================================

global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend web_frontend
    bind *:8080
    default_backend servidores_web

backend servidores_web
    balance roundrobin
    option httpchk GET /
    server nginx_principal 127.0.0.1:80 check
    server nginx_secundario 192.168.232.2:80 check backup
